<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Felix Niklas</string>
	<key>Builder Version</key>
	<string>11601.5.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>Dimensions</string>
	<key>CFBundleIdentifier</key>
	<string>com.felixniklas.dimensions</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>measure</string>
				<key>Identifier</key>
				<string>dimensions</string>
				<key>Image</key>
				<string>Safari Icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Dimensions</string>
				<key>Tool Tip</key>
				<string>Measure Dimensions</string>
			</dict>
		</array>
	</dict>
	<key>Description</key>
	<string>A tool for designers to measure screen dimensions</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://felixniklas.com/dimensions/update.plist</string>
	<key>Website</key>
	<string>http://felixniklas.com/dimensions</string>
</dict>
</plist>
